table{
    text-align:center;
}
td{
    padding:5px;
border:1px solid black; width:300px;}


#main {
    min-width: 100vh;
    min-height: 100vh;
    display: float;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow:hidden;
    
}

#avi{
    border:none !important;
    height:150px;
    width:150px !important;
}

.post{display:none; height:150px; overflow-x:hidden; overflow-y:scroll;}

button{
    border:none;
    background:none;
    font-family:sperrypg;
    font-size:8px;
   max-width:125px;
   
  
}

button:hover{
    cursor:pointer;
    
}

button:hover::before{
    content:"-";
    color:#a3302c;
}

button:hover::after{
    content:"-";
    color:#a3302c;
}

.active, a{
    color:#a3302c;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}
.pink{
    color:rgb(158, 66, 66);
}


