#main {
    min-width: 100vh;
    min-height: 100vh;
    display: float;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow:hidden;
    
    
  }

  #box{
    text-align:center;
  }

  h1{
    font-size: 20px;
background-image: url(./assets/tumblr_cf4ec9aeddb626a9c0db48885fe89108_4b7273cd_400.webp);
background-size: cover;
background-clip: text;

-webkit-background-clip: text;
color: transparent;

font-weight: bold;
font-style: italic;
font-family: phoenix;
  }

  p{
    font-family:sperrypg;
    letter-spacing:-1px;
    font-size:8px;
  }

  a{
    text-decoration:none;
    color:rgb(89, 132, 40);
  }