

#help {
    max-width:40em;
}

a {text-decoration:none; color:#4f5a4a;}
#umm {
   text-align:left;
    
   
}
@font-face {
    font-family: 'milky';
    src: url('idolwild.ttf');
}

strong {font-family:milky;}