a {
    text-decoration:none;
    color:rgb(89, 132, 40);
}

@font-face {font-family:'Lovely Valentine'; src: url(https://dl.dropbox.com/s/yumbhl34nyi38yf/Lovely%20Valentine.otf); }

body {
    font-size:12px;
letter-spacing:1px;
font-family: Mali;}


h1 {
    font-family:Lovely Valentine;
    font-size:50px;
    letter-spacing:0px;
    color:rgb(136, 198, 65);
}

#ee {
    min-width: 100vh;
    min-height: 100vh;
    display: float;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow:hidden;
    
    
  }
  
  #header{width:20em;
margin-left:3.75em;}
  #main {border:1px black dashed;
    width: 25em;
    height:23em;
    top:-2em;
    

    position: relative;
    text-align:center;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  ::-webkit-scrollbar{
    display:none;
  }

  #whole {width:25em; margin-top:-5em; }

  #map {overflow-x:hidden;
    overflow-y:scroll;
height:12.25em; 
width:23em;
margin-left:1em;
border:1px dashed rgb(197, 204, 188); }