a {
    text-decoration:none;
    color:rgb(89, 132, 40);
}


body {
    font-size:12px;
letter-spacing:-1px;
font-family: sperrypg;}


h1 {
    font-family:phoenix;
    font-size:20px;
    letter-spacing:0px;
    color:rgb(136, 198, 65);
}

#ee {
    min-width: 100vh;
    min-height: 100vh;
    display: float;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow:hidden;
    
    
  }
  
  #header{width:25em;
margin-left:2.5em;}
  #main {border:1px black dashed;
    width: 300px;
    height:220px;
    top:-1em;
    font-size:8px;

    position: relative;
    text-align:center;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  ::-webkit-scrollbar{
    display:none;
    width:0;
  }

  #whole {width:25em; margin-top:-5em; }

  #map {overflow-x:hidden;
    overflow-y:scroll;
height:100px ;
width:275px;
margin-left:12.5px;
border:1px dashed rgb(197, 204, 188); }