#sidebar {
    background-color:red;
    width: 15em;
    height:30em;
    position:relative;
    top:-30em;
    left:25em;
}
#body{
    background-color:blue;
    width:40em;
    height:30em;
}
#main{
  
    overflow: hidden;
    min-width: 100vh;
  min-height: 100vh;
  display: float;
  display: flex;
  align-items: center;
  justify-content: center;
}
#text{background-color:yellow;
width:25em;
height:30em;}