html, body {
    width:100%;
    height:100%;
    margin:0;
    font-family:sperrypg;
    font-size:8px;
    letter-spacing:-1px;
    background-image:url('./assets/sploon/splatoon3-pattern-01-3840x2160-1.jpg');
    background-size:cover;
}

    #main {
        min-width: 100vh;
        min-height: 100vh;
        display: float;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow:hidden;
        
        
      }

      #bottom{
        position:absolute;
        bottom:20px;
        right:20px;
        z-index:10;
      }

      #bottom img{
       margin:-2px;
        
        width:40px;
      }
      .hover{
        display:none;
        color:white;
        position:absolute;
        top:-20px;
        
        width:300px;
        text-align:right;
        
      }
      #bottom a:hover + .hover{
        display:block;
      }

      iframe{
        background:transparent;
        width:500px;
        height:400px;
        position:relative;
        z-index:5;
        margin:20px;
        text-align:center;
        border-radius:10px;
        border:1px solid white;
        overflow-x:hidden;
        overflow-y:scroll;
      }
      
      
     h1{
        font-size:10px;
     }

     #footnote{
        color:white;
        background-color:black;
        padding:4px;
        border-radius:45px;
        border:1px solid white;
        position:relative;
        
        animation:float 3s linear infinite;
        right:10px;
     }

     @keyframes float{
        0%{bottom:13px;}
        50%{bottom:19px;}
        100%{bottom:13px;}
     }

     #bottom2{
        position:absolute;
        bottom:20px;
        left:20px;
     }

     #bottom2 a{
        color:white;
        text-decoration:none;
        
     }

     #bottom2 a:hover{
        text-decoration:underline;
     }

     