@font-face {
    font-family:'sperrypg'; src: url("./Web437_SperryPC_CGA.woff") format("woff");}
    @font-face {
    font-family:'phoenix'; src: url("./Web437_PhoenixVGA_8x8.woff") format("woff"); }

body {
    font-family:sperrypg;
    font-size:8px;
    letter-spacing:-1px;
    color:white;
    text-align:center;
}

#weapons img{
    width:65px;
    opacity:100%;
}

#weapons img:hover{
    cursor:pointer;
   
    filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(0 -1px 0 white) drop-shadow(1px 0 white);
}
.active{
   
    filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(0 -1px 0 white) drop-shadow(1px 0 white);
}
.post {
    display:none;
}

strong{
    color:#F3356B;
    letter-spacing:0;
    margin:5px;
 }

.able img{
    width:25px !important;
    position:relative;
    top:7px;
}

.able img:hover{
    cursor:default !important;
    opacity:100% !important;
}

.hoverable{
    display:none;
    position:relative;
    top:-40px;
    left:2px;
    width:100%;
}
#menu img:hover + .hoverable{
    display:inline;
}

h1{
    font-size:12px;
}
h2{
    font-size:10px;
}
h3{
    font-size:9px;
}

#title{
    margin-top:13px;
}

::selection{
    color:black;
    background-color:#FA7042;
    }
#clothing{
    width:500px;
    margin-left:-8px;
    overflow:hidden;
    text-align:center;
    
   
   
}

#clothenter{
    cursor: pointer;
}

#clothenter:hover{
    
    filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(0 -1px 0 white) drop-shadow(1px 0 white);
}

.cloth img:first-child{height:75px; margin-left:-200px;}
.cloth p{ position:relative; top:-85px; left:100px; width:325px; overflow:hidden;}
.abilchunks img:first-child{height:35px;}
.abilchunks img{height:25px; position:relative; left:140px;}

.cloth{position:relative; display:none;}


::-webkit-scrollbar{
    width:0;
}
#innerclothtainer{
    max-height:850px;
    
    overflow:hidden;
}

#clothtainer{
    position:relative;
    left:12px;
    width:500px;
    margin:auto;
    overflow-x:hidden;
    
    
    
}

#stats a{
    color:white;
    
}

#stats{
    line-height:12px;
}

#stats a:hover{
    text-decoration:none;
}