@font-face {
    font-family:'sperrypg'; src: url("./Web437_SperryPC_CGA.woff") format("woff");}
    @font-face {
    font-family:'phoenix'; src: url("./Web437_PhoenixVGA_8x8.woff") format("woff"); }

body {
    font-family:sperrypg;
    font-size:8px;
    letter-spacing:-1px;
    color:white;
    text-align:center;
}

#weapons img{
    width:50px;
    opacity:100%;
}

#weapons img:hover{
    cursor:pointer;
    opacity:75%;
}
.active{
    opacity:25% !important;
}
.post {
    display:none;
}

strong{
    color:#F3356B;
    letter-spacing:0;
    margin:5px;
 }

.able img{
    width:25px !important;
    position:relative;
    top:7px;
}

.able img:hover{
    cursor:default !important;
    opacity:100% !important;
}

.hoverable{
    display:none;
    position:relative;
    top:-40px;
    left:2px;
    width:100%;
}
#menu img:hover + .hoverable{
    display:inline;
}

h1{
    font-size:12px;
}
h2{
    font-size:10px;
}
h3{
    font-size:9px;
}

#title{
    margin-top:13px;
}