#main {
    min-width: 100vh;
    min-height: 100vh;
    display: float;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-top: -5em;
}



#tableux {
    width: 650px;
    height:400px;

}

#bio {
    display: block;
    height: 385px;
    overflow-x: hidden;
    overflow-y: scroll;

    padding-left:20px;
}

#buttons {
    height: 400px;
}

.marquee {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 400px;
    text-align: center;
    overflow:hidden;
    white-space: nowrap;
}

.marquee--inner {
    display: block;
    height: 31px;

    position: absolute;
    animation: marquee 10s linear infinite;
}

.marquee--inner:hover {
    animation-play-state: paused;
    color: red;
}

@keyframes marquee {
    0% {
        top: 0;
    }

    100% {
        top: -754px;
    }

}

#footer {
    text-align: right;
    position:relative;
    left:-20px;


}

#scroll {
    position: fixed;
    font-family: sperrypg;
    font-size: 8px;
    margin-left: 620px;
    animation: float 1s ease infinite;
}

@keyframes float {
    0% {
        margin-top: 370px;
    }

    50% {
        margin-top: 375px;
    }

    100% {
        margin-top: 370px;
    }
}

#mylist{
   position:relative;
   top:-2px;
}