#main {
    min-width: 100vh;
    min-height: 100vh;
    display: float;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-top: -5em;
}


#tableux {
    width: 750px;
    height:400px;


}

#stats{height:305px; overflow-y:scroll; width:250px; padding:0 20px 0 20px;}
#bio {

    display: block;
    height:  426px;
    overflow-x: hidden;
    overflow-y: scroll;
    position:relative;
    z-index:1;
    padding:0 20px 0 20px;
    width:300px;
}

#buttons {
    height: 400px;
}

.marquee {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 440px;
    text-align: center;
    overflow:hidden;
    white-space: nowrap;

}

.marquee--inner {
    display: block;
    height: 31px;

    position: absolute;
    animation: marquee 10s linear infinite;
}

.marquee--inner:hover {
    animation-play-state: paused;
    color: red;
}

@keyframes marquee {
    0% {
        top: 0;
    }

    100% {
        top: -925px;
    }

}

#footer {
    width:300px;
    text-align: right;
    position:relative;
   


}

#scroll {

    font-family: sperrypg;
    font-size: 8px;
    margin-left: 370px;
    margin-top: -50px;
   z-index:0;
   width:20px;
}


#mylist{
   position:relative;
   top:-2px;
}

h3{
    position:relative;
    left:20px;
}
#mylistheader{
    position:relative;
    top:-5px;
 }
 #mypng{position:relative;}
