
body{


    letter-spacing:-1px;
    scrollbar-width:none;
    -ms-overflow-style:none !important;
}
::scrollbar{
display:none !important;
}
::-webkit-scrollbar{
display:none !important;
}

ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}



li {
    padding:5px;
}
.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
   transform: rotate(90deg);  
}

.nested {
  display: none;
}

.active {
  display: block;
}

#main {
  min-width: 100vh;
  min-height: 100vh;
  display: float;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow:hidden;
  margin-top:-5em; 
  
  
}

#cont{
  width:700px;
 
  padding:10px;
  
}



#core{
  max-height:300px;
  
  overflow-x:hidden;
  overflow-y:scroll;
 

}

img{
  display:float;
  align-items:left;
 
margin-left:10px;
 
  width:15px;
  
}

.nested img{
  float:left;
 
padding-right:10px;
 margin-left:2px;
  width:45px;
  
}