@font-face {
    font-family:'sperrypg'; src: url("./Web437_SperryPC_CGA.woff") format("woff");}
    @font-face {
    font-family:'phoenix'; src: url("./Web437_PhoenixVGA_8x8.woff") format("woff"); }

    @font-face {
        font-family:'tzerowebfont'; src: url("./fonts/000webfont.ttf"); }
        @font-face {
            font-family:'lovelyvalentine'; src: url("./fonts/Lovely\ Valentine.ttf"); }
            @font-face {
                font-family:'heartlove'; src: url("./fonts/heart\ love.ttf"); }
        @font-face{font-family:'vcrosdmono'; src: url("./fonts/VCR_OSD_MONO_1.001.ttf");}
        @font-face{font-family:'5squaredpixel'; src: url("./fonts/5squared-pixel.ttf");}
        @font-face{font-family:'kakomic'; src: url("./fonts/KakomiC.ttf")}
        @font-face{font-family:'existentialism'; src: url("./fonts/Existentialism.ttf")}
        @font-face{font-family:'afterschool'; src:url("./fonts/Afterschool.ttf")}
        

::selection {
        color: white;
        background-color: black;
    }
    

::scrollbar{
display:none !important;
}
::-webkit-scrollbar{
display:none !important;
}

body{
    font-family:sperrypg;
    font-size:9px;
    line-height:13px;
    letter-spacing:-1px;
}

a {
    text-decoration:none;
    color:rgb(89, 132, 40);
}

a:hover, button:hover{
    text-transform:uppercase;
    text-decoration:black dotted underline;
}

#note{
    font-size:7px;
    position:relative;
    top:-5px;

}

h1,h2,h3{
    font-family:phoenix;  letter-spacing:0px;
    
}

h1{font-size:20px;
    line-height:20px;
    letter-spacing:0px;}