@font-face {
    font-family:'sperrypg'; src: url("./Web437_SperryPC_CGA.woff") format("woff");}
    @font-face {
    font-family:'phoenix'; src: url("./Web437_PhoenixVGA_8x8.woff") format("woff"); }

::selection {
        color: white;
        background-color: black;
    }
    

::scrollbar{
display:none !important;
}
::-webkit-scrollbar{
display:none !important;
}

body{
    font-family:sperrypg;
    font-size:9px;
    line-height:13px;
    letter-spacing:-1px;
}

a {
    text-decoration:none;
    color:rgb(89, 132, 40);
}

#note{
    font-size:7px;
    position:relative;
    top:-5px;

}

h1,h2,h3{
    font-family:phoenix;  letter-spacing:0px;
    
}

h1{font-size:20px;
    line-height:20px;
    letter-spacing:0px;}