html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    scrollbar-width: none;
    -ms-overflow-style: none !important;
    background: url('./pictures/backgrounds/i01-bg-cloth.gif')
}

::scrollbar {
    display: none !important;
}

::-webkit-scrollbar {
    display: none !important;
}


#main {
    min-width: 100vh;
    min-height: 100vh;
    display: float;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;


}

.tabcontent {
    display: none;
    margin-left: 5px;
    border-top: none;
}

.date::before {
    content: "date: ";
}

.subj::before {
    content: "title: ";
}

.post {
    display: none;
}

button {
    background: none;
    
    border: none;
    font-family: sperrypg;
    display:block;
    font-size: 9px;
    text-align: left !important;
    color: rgb(89, 132, 40);

}
#nextprevbuttons{
    display:inline-block;
    text-align:center;
    width:150px;
   

}
#nextprevbuttons button{
    display:inline-block;
    margin:5px;

    width:40px;
   

}

button:hover {
    cursor: pointer;
    color: darkslateblue;
    text-decoration: underline;
}

#buttons {
    position: fixed;
    z-index: -4;
}

#buttoncontainer {


    overflow-x: hidden;


    text-align:center;
}

#scroll {
    position: fixed;
    font-family: sperrypg;
    font-size: 9px;
    margin-left: 580px;
    animation: hi 1.5s ease infinite;
}


@keyframes hi {
    0% {
        margin-top: 315px;
    }

    50% {
        margin-top: 312px;
    }

    100% {
        margin-top: 315px;
    }
}

.post {
    font-family: sperrypg;
    font-size: 9px;
    letter-spacing: -1px;
    line-height: 13px;
    width: 600px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #faf7e6;

    border: 2px dashed #588e50;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    background-color: #faf7e6;
    box-shadow: 0 0 0 3px #faf7e6;


}

#extlinks {
    position: absolute;
    bottom: 25px;
    left: 25px;
    font-family: sperrypg;
    font-size: 9px;

}

a {
    text-decoration: none;
    color: rgb(89, 132, 40);
}

ul,
#myUL {
    list-style-type: none;
    padding-left: 10px;
    margin-top: 5px;
}

#myUL {
    margin: 0;
    padding: 0;
}



li {
    margin: 0;
    padding: 0;
}

.caret {
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.activecaret {
    display: block;
}

table,tr,td{padding:20px;}

.postimg1, .postimg2, .postimg3{float:left; padding-right:10px;}
.postimg3 {position:relative; top:3px;}
.postimg2 {position:relative; top:6px;}

#entrythreepixels{text-align:center;}
#entrythreepixels img{max-height:50px; padding:2px;}
#entrythreepixels img:hover{max-height:300px;}

.journalheader{
    background: url('./pictures/backgrounds/c04-bg-grid.gif');
    padding: 2px;
    background-color: #faf7e6;
    box-shadow: 0 2px #588e50;
}