#main {
    min-width: 100vh;
    min-height: 100vh;
    display: float;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    margin-top: -5em;

}

body{
  background:url('./pictures/backgrounds/y01-bg-biascheck.gif');
  color: rgb(109, 41, 44);
}

a{color:#af5153;}

table {
    width: 1100px;
    border:1px #7e3737 dashed;
    background-color:#fefae6;
    border-radius:20px;

}

#lynx{width:800px; padding:20px; height:600px; overflow-y:scroll;
}
#sidebar{border-right:1px #7a2432 dashed; padding:20px; width:300px;}
#rightbar{border-left:1px #7a2432 dashed; padding:20px; position:relative; bottom:0;}
#header{border-bottom:1px #7a2432 dashed; padding:20px; text-align:center;}

.caret {
  font-family:phoenix;  letter-spacing:0px;
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }
  
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  .caret-down::before {
     transform: rotate(90deg);  
  }
  
  .nested {
    display: none;
    font-family:sperrypg;
    font-size:9px;
    line-height:13px;
    letter-spacing:-1px;
    padding-left:10px;


  }
  
  .nested-wrap{
    column-count:3;
    column-gap:100px;
  }
  .active {
    display: block;
  }

ul, #myUL {
    list-style-type: none;

  }
  
  #myUL {
    margin: 0;
    padding: 0;
  }
  a:hover, button:hover{
    text-transform:uppercase;
    text-decoration:#c36883 dashed underline;
}
  
  
  li {
      padding:2px;
    
  }

#header{font-family:heartlove; font-size:72px; letter-spacing:0; 
  color:rgb(148, 49, 54);

  text-shadow: 2px 0 #fefae6, -2px 0 #fefae6, 0 2px #fefae6, 0 -2px #fefae6,
  1px 1px #fefae6, -1px -1px #fefae6, 1px -1px #fefae6, -1px 1px #fefae6;}

  #fonts{line-height:3em; letter-spacing:0px;
    column-count:2;
    column-gap:50px;}
  #fonts a:hover{    text-transform:lowercase;}

  button {
    background: none;
    
    border: none;
    font-family: sperrypg;
    display:inline;
    font-size: 9px;
    text-align: left !important;
    color:#af5153;
  }