#main {
    min-width: 100vh;
    min-height: 100vh;
    display: float;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    margin-top: -5em;

}

table {
    width: 850px;
}

#primary {
    width: 500px;
    text-align: center;

    padding: 20px;

}


#header {
    text-align: center;
    
}

#journal{height:400px;
background:url('./pictures/journalpage.jpg'); background-size:contain; background-repeat:no-repeat;}

#journalheader{font-family:afterschool; font-size:24px;  transform:rotate(5deg); margin-left:200px; margin-top:25px;} 


.post {
    display: none;
    margin-left:20px;

    height:300px;
    position:relative;
    
}

.post:last-child{
    display:block;
}

#nextbutton, #prevbutton{position:relative; }
#nextbutton{ transform:rotate(-15deg); left:240px; z-index:1;}
#prevbutton{ transform:rotate(15deg); left:-10px; z-index:1;}

button {
    background: none;
    font-family:afterschool;
    border: none;
    font-size:24px;
    display:inline;

    text-align: left !important;

  }

#primarytext{
    position:relative; top:-100px;
}