:root {
    --main-text-color: black;
    --main-border-color: black;
    --title-color: black;
    --body-background-color: rgba(255, 255, 255, 0.8);
    --outline-color: rgba(255, 248, 244, 1);
    --link-color: #2f2a3a;
}

@font-face {
    font-family: 'oabestira';
    src: url('./Hanged\ Letters.ttf');
}


body {
    background-color: white;
    background-image: url('./mainbackground.png');
    background-position: center;
    background-size: cover;
    font-family: times;
    
    color: var(--main-text-color);
    overflow: hidden;
}

::selection {
    color: white;
    background: black;
}


.wrapper {
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    z-index: 1;


}

.box {
    position: relative;
    z-index: 1;
    width: 40em;
    margin-top: 250px;


}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: var(--link-color);
}

a {
    letter-spacing: normal;
    transition: 0.3s;
}

a:hover {
    letter-spacing: 2.5px;
    transition: 0.3s;
}



#titletext {
    font-family: oabestira;
    font-size: 6.5em;
    color: var(--title-color);
    position: relative;
    top: 0em;
    transform: rotate(0);
    z-index: 1;
    display: flex;
    z-index: 999;
    filter: drop-shadow(1px 1px 0 var(--outline-color)) drop-shadow(-1px 1px 0 var(--outline-color)) drop-shadow(0 -1px 0 var(--outline-color)) drop-shadow(1px 0 var(--outline-color));
    position: fixed;
    align-items: top !important;
    top: 0 !important;

    min-width: 100%;
    display: flex;
    margin-top: 5px;
    justify-content: center;
}


#candle {
    display: inline;
    position: relative;
    left: 6em;
    top: -0.51em;
    z-index: 99999;
}


#inner {
    margin-top: -7.5em;
    border-radius: 5px;

    text-align: center;
    height: 30em;
}

#left {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30em;
    width: calc(100% - 12.5em - 14px);
    border: 1px var(--main-border-color) solid;
    background-color: var(--body-background-color);
    position: relative;

   
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;


}

#right {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30em;
    padding-right: 10px;
    width: 12.5em;
    background-color: var(--body-background-color);
    position: relative;
    border-right: 1px var(--main-border-color) solid;
    border-top: 1px var(--main-border-color) solid;
    border-bottom: 1px var(--main-border-color) solid;

    top: -7.59em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;


}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}


#right_inner {
    display: block !important;
    position: relative;


}

#lynx {
    
    width: 8.33em;
    align-items: center;
    height: auto;
    margin-top: -5.4em;
    position: relative;
    top: 3em;
    left: 0.25em;
    text-align: left;
    padding: 15px 5px 5px 5px;
    font-size: 1.2em;
    font-family:arial;
}

#lynx a {
    margin-left: 2.5px;
}

#lynx img {
    padding-right: 3px;
}

#cat {
    position: relative;
    top: -6em;
    left: -3em;
}

.jerkoff {


    animation: jerk 0.5s step-end infinite;
}

@keyframes jerk {

    0% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(-2deg);
    }
}

#right_inner iframe {
    position: relative;
    z-index: 0 !important;
    display: inline;
    overflow: hidden;
    width: 13.15em;
    left: 0.3em;
    top: -2.35em;
    height: 20em;
    border-top-right-radius: 2.5px;
    border-left: 1px var(--main-border-color) solid;
    border-top: 1px var(--main-border-color) solid;
    border-bottom: 1px var(--main-border-color) solid;

}


#bar {
    position: relative;
    top: -21.25em;
    left: 25.75em;

}



#ahh {

    top: -20px;
    left: 70px;
    position: relative;
    background-color: black;
    color: var(--outline-color);

    width: 0px;
    text-align: center;
    height: 19px;
    overflow: hidden;
    margin-top: 1px;
    white-space: nowrap;
    transition: 0.3s;
    text-align: center;
    border-left: 2px black solid;
    border-right: 2px black solid;
    border-top: 1px black solid;
    visibility: hidden;


}

#bar:hover #ahh {
    visibility: visible;

    width: 145px;
    transition: 0.5s;

}
