
body{
    font-family:sperrypg;
    letter-spacing:0.2px;
}

h1{font-size:10px;}

a{text-decoration:none; color:darkkhaki}

#ahh {
    min-width: 100vh;
    min-height: 100vh;
    display: float;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow:hidden;
    font-size:8px;
    
    
  }

  #main {width:25em; margin-top:-5em; }

  #teehee{float:right; position:relative; left:40em;}